In [28]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from itertools import combinations
from sklearn.decomposition import PCA

In [29]:
ph=1.5574E-4
times=[1,2,3,6,7,9,13,16,21,24,31] 
protien="FAS_MOUSE" 

pxt=[(x) for x in list(range(3,50,1))]
neh=range(1,120)

In [30]:
path="C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/"
pept=[x.split('_1_')[0] for x in os.listdir(path) if ((".csv" in x) and ("_1_" in x)) ]

In [31]:
time=6
data1=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[0]}_{time}_{protien}.csv")
print(data1["T_NEH"][0],data1["NH"][0])
data1=data1[["NEH","pxt","RMSE"]]
data1.pxt=[round(x*1000) for x in data1.pxt] 

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[2]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data2[["NEH","pxt","RMSE"]]
data2.pxt= [round(x*1000) for x in data2.pxt]

data3=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[3]}_{time}_{protien}.csv")
print(data3["T_NEH"][0],data3["NH"][0])
data3=data3[["NEH","pxt","RMSE"]]
data3.pxt= [round(x*1000) for x in data3.pxt]

data4=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[4]}_{time}_{protien}.csv")
print(data4["T_NEH"][0],data4["NH"][0])
data4=data4[["NEH","pxt","RMSE"]]
data4.pxt= [round(x*1000) for x in data4.pxt]

23 107
26 97
36 113
26 107

In [32]:

import pandas as pd
import numpy as np

pxt=range(3,50)
neh=range(1,100)

data_px=pd.DataFrame(pxt)
data_neh=pd.DataFrame(neh)

data=pd.merge(data_px,data_neh,how='cross')
data=pd.merge(data,data_neh,how='cross',suffixes=["_1","_2"])
data=pd.merge(data,data_neh,how='cross',suffixes=["_1x","_2x"])
data.columns=["pxt","neh1","neh2","neh3"]
data["RMSE1"]=0
data["RMSE2"]=0
data["RMSE3"]=0

data.head()

   pxt  neh1  neh2  neh3  RMSE1  RMSE2  RMSE3
0    3     1     1     1      0      0      0
1    3     1     1     2      0      0      0
2    3     1     1     3      0      0      0
3    3     1     1     4      0      0      0
4    3     1     1     5      0      0      0

In [ ]:
for px in pxt:
    temp_px_data=data[(data.pxt==px)]
    temp_px_data1=data1[(data1.pxt==px)]
    temp_px_data2=data2[(data2.pxt==px)]
    temp_px_data3=data3[(data3.pxt==px)]
    for n in neh:
        temp_index=temp_px_data[(temp_px_data.neh1==n)].index
        data.loc[temp_index,"RMSE1"]=float(temp_px_data1[(temp_px_data1.NEH==n)].RMSE)
        
        temp_index=temp_px_data[(temp_px_data.neh2==n)].index
        data.loc[temp_index,"RMSE2"]=float(temp_px_data2[(temp_px_data2.NEH==n)].RMSE)
        
        temp_index=temp_px_data[(temp_px_data.neh3==n)].index
        data.loc[temp_index,"RMSE3"]=float(temp_px_data3[(temp_px_data3.NEH==n)].RMSE)
        
        
        print(px,n)

In [34]:
# data[(data.pxt==3)&(data.neh1==1)]
data["RMSE"]=data.RMSE1+data.RMSE2+data.RMSE3
data.sort_values(by="RMSE")

          pxt  neh1  neh2  neh3     RMSE1     RMSE2     RMSE3      RMSE
16000848   19    49    57    73  0.007713  0.025906  0.010060  0.043679
16951244   20    47    54    69  0.007723  0.025931  0.010033  0.043687
16000847   19    49    57    72  0.007713  0.025906  0.010087  0.043706
16000749   19    49    56    73  0.007713  0.025935  0.010060  0.043708
20753129   24    39    45    57  0.007669  0.026043  0.010022  0.043734
...       ...   ...   ...   ...       ...       ...       ...       ...
45594251   49    98    99    99  0.160220  0.148796  0.135255  0.444270
45603855   49    99    98     1  0.160997  0.147897  0.136030  0.444924
45594153   49    98    99     1  0.160220  0.148796  0.136030  0.445046
45604052   49    99    99    99  0.160997  0.148796  0.135255  0.445048
45603954   49    99    99     1  0.160997  0.148796  0.136030  0.445823

[45604053 rows x 8 columns]

In [27]:
# data[(data.pxt==3)&(data.neh1==1)] t= 3
data["RMSE"]=data.RMSE1+data.RMSE2+data.RMSE3
data.sort_values(by="RMSE")

          pxt  neh1  neh2  neh3     RMSE1     RMSE2     RMSE3      RMSE
4465687     7    60    63    95  0.011474  0.015471  0.019314  0.046259
4465686     7    60    63    94  0.011474  0.015471  0.019325  0.046270
4465688     7    60    63    96  0.011474  0.015471  0.019326  0.046271
4465786     7    60    64    95  0.011474  0.015485  0.019314  0.046272
4455886     7    59    63    95  0.011492  0.015471  0.019314  0.046277
...       ...   ...   ...   ...       ...       ...       ...       ...
45544553   49    93    92    99  0.186399  0.187685  0.159109  0.533193
45534851   49    92    93    99  0.185854  0.188243  0.159109  0.533207
45545246   49    93    99    99  0.186399  0.187752  0.159109  0.533260
45603458   49    99    93    99  0.186142  0.188243  0.159109  0.533494
45544652   49    93    93    99  0.186399  0.188243  0.159109  0.533751

[45604053 rows x 8 columns]

In [35]:
# data[(data.pxt==3)&(data.neh1==1)] t= 6 ******
data["RMSE"]=data.RMSE1+data.RMSE2+data.RMSE3
data.sort_values(by="RMSE")

          pxt  neh1  neh2  neh3     RMSE1     RMSE2     RMSE3      RMSE
16000848   19    49    57    73  0.007713  0.025906  0.010060  0.043679
16951244   20    47    54    69  0.007723  0.025931  0.010033  0.043687
16000847   19    49    57    72  0.007713  0.025906  0.010087  0.043706
16000749   19    49    56    73  0.007713  0.025935  0.010060  0.043708
20753129   24    39    45    57  0.007669  0.026043  0.010022  0.043734
...       ...   ...   ...   ...       ...       ...       ...       ...
45594251   49    98    99    99  0.160220  0.148796  0.135255  0.444270
45603855   49    99    98     1  0.160997  0.147897  0.136030  0.444924
45594153   49    98    99     1  0.160220  0.148796  0.136030  0.445046
45604052   49    99    99    99  0.160997  0.148796  0.135255  0.445048
45603954   49    99    99     1  0.160997  0.148796  0.136030  0.445823

[45604053 rows x 8 columns]

In [8]:
# data[(data.pxt==3)&(data.neh1==1)] ====> t=31
data["RMSE"]=data.RMSE1+data.RMSE2+data.RMSE3
data.sort_values(by="RMSE")

          pxt  neh1  neh2  neh3     RMSE1     RMSE2     RMSE3      RMSE
41950786   46    24    26    32  0.006825  0.011204  0.009986  0.028015
43881483   48    23    25    31  0.006756  0.011253  0.010011  0.028020
37128995   41    27    29    36  0.006992  0.011134  0.010098  0.028223
43881482   48    23    25    30  0.006756  0.011253  0.010255  0.028264
39059691   43    26    28    34  0.006999  0.011180  0.010093  0.028272
...       ...   ...   ...   ...       ...       ...       ...       ...
45594054   49    98    98     1  0.153339  0.146847  0.143914  0.444100
45584352   49    97    99     1  0.152449  0.147754  0.143914  0.444117
45603855   49    99    98     1  0.154212  0.146847  0.143914  0.444974
45594153   49    98    99     1  0.153339  0.147754  0.143914  0.445008
45603954   49    99    99     1  0.154212  0.147754  0.143914  0.445881

[45604053 rows x 8 columns]

In [65]:
time=24
data1=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[5]}_{time}_{protien}.csv")
print(data1["T_NEH"][0],data1["NH"][0])
data1=data1[["NEH","pxt","RMSE"]]
data1.pxt=[round(x*1000) for x in data1.pxt] #(10000*data1.pxt).astype("int")

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[6]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data2[["NEH","pxt","RMSE"]]
data2.pxt= [round(x*1000) for x in data2.pxt] #(10000*data2.pxt).astype("int")

# ========================================================================

pxt=range(3,50)
neh=range(1,100)

data_px=pd.DataFrame(pxt)
data_neh=pd.DataFrame(neh)

data=pd.merge(data_px,data_neh,how='cross')
data=pd.merge(data,data_neh,how='cross',suffixes=["_1","_2"])
data.columns=["pxt","neh1","neh2"]
data["RMSE1"]=0
data["RMSE2"]=0 

for px in pxt:
    for n in neh:
        temp_index=data[(data.pxt==px)&(data.neh1==n)].index
        data.loc[temp_index,"RMSE1"]=float(data1[(data1.pxt==px)&(data1.NEH==n)].RMSE)
        
        
        temp_index=data[(data.pxt==px)&(data.neh2==n)].index
        data.loc[temp_index,"RMSE2"]=float(data2[(data2.pxt==px)&(data2.NEH==n)].RMSE)
data.pxt=data.pxt/1000                 
data["RMSE"]=data.RMSE1+data.RMSE2
data.sort_values(by="RMSE").head(10)

40 134
18 79

          pxt  neh1  neh2     RMSE1     RMSE2      RMSE
453830  0.049    31    15  0.012523  0.011627  0.024151
424626  0.046    33    16  0.012598  0.011572  0.024170
444128  0.048    32    15  0.012550  0.011647  0.024197
414924  0.045    34    16  0.012601  0.011601  0.024202
317909  0.035    44    21  0.012851  0.011356  0.024207
376019  0.041    37    18  0.012723  0.011485  0.024208
288904  0.032    48    23  0.012906  0.011305  0.024211
356616  0.039    39    19  0.012753  0.011473  0.024226
395521  0.043    36    17  0.012731  0.011496  0.024227
337213  0.037    41    20  0.012821  0.011422  0.024243

In [ ]:
time=31
data1=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[3]}_{time}_{protien}.csv")
print(data1["T_NEH"][0],data1["NH"][0])
data1=data1[["NEH","pxt","RMSE"]]

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[6]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data1[["NEH","pxt","RMSE"]]

# data3=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[2]}_{31}_{protien}.csv")
# data3=data1[["NEH","pxt","RMSE"]]
# data3.head()


temp=pd.merge(data1,data2,how="cross")
temp=temp[temp.pxt_x==temp.pxt_y]
temp["RMSE"]=temp.RMSE_x+ temp.RMSE_y
temp=temp[["pxt_x","NEH_x","NEH_y","RMSE"]]
temp=temp.sort_values(by="RMSE")
temp.tail(123)

In [ ]:
# temp=pd.merge(temp,data3,how="cross")
# # temp=temp[temp.pxt_x==temp.pxt_y]
# # temp["RMSE"]=temp.RMSE_x+ temp.RMSE_y
# # temp=temp[["pxt_x","NEH_x","NEH_y","RMSE"]]
# temp

In [ ]:
data1=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[3]}_{time}_{protien}.csv")
print(data1["T_NEH"][0],data1["NH"][0])
data1=data1[["NEH","pxt"]]

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[6]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data1[["NEH","pxt"]]

temp=pd.merge(data1,data2,how="cross")
temp=temp[temp.pxt_x==temp.pxt_y]
temp=temp[["pxt_x","NEH_x","NEH_y"]]
temp

In [ ]:
time=31
data1=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[0]}_{time}_{protien}.csv")
print(data1["T_NEH"][0],data1["NH"][0])
data1=data1[["NEH","pxt","RMSE"]]

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[1]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data1[["NEH","pxt","RMSE"]]

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[2]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data1[["NEH","pxt","RMSE"]]

data2=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[3]}_{time}_{protien}.csv")
print(data2["T_NEH"][0],data2["NH"][0])
data2=data1[["NEH","pxt","RMSE"]]

In [ ]:
pxt=[(x/1000) for x in list(range(3,50,1))]
neh=range(1,120)

In [ ]:
res=[]
for px in pxt:
    
    for n1 in neh:
        rmse1= float(data1[(data1.pxt==px)&(data1.NEH==n1)].RMSE)
        
        for n2 in neh:                
            rmse2= float(data2[(data2.pxt==px)&(data2.NEH==n2)].RMSE)
            res.append([px,n1,n2,(rmse1+rmse2)])
            
#             for n3 in neh:                
#                 rmse3= float(data1[(data1.pxt==px)&(data1.NEH==n3)].RMSE)
#                 res.append([px,n1,n2,n3,(rmse1+rmse2+rmse3)])

In [ ]:
np.array(res).shape

In [ ]:
float(data1[(data1.pxt==0.01)&(data1.NEH==1)].RMSE)

In [ ]:
data1[data1.pxt==0.006].RMSE

In [ ]:
data1=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pept[0]}_{time}_{protien}.csv")
# data1[data1.pxt==0.006].RMSE
data1.query("pxt>0.06")

In [ ]:
data1.pxt

In [ ]:
vals=[]
temp_kk=[]
temp_neh=[]
# protien="FAS_MOUSE"
# protien="CPSM_MOUSE"
# protien="CPT2_MOUSE"
# protien="CSAD_MOUSE"
protien="DHE3_MOUSE"
for pep in pept:
    neh_coll=[]
    pxt_neh=[]
    for time in times:
        try:
            print(f"\n {pep} Time",time,"==================================>")
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_AAMLGQEDPPQHGLPR_3_{time}_FAS_MOUSE.csv")
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_AcVDTALENLSTLK_2_{time}_FAS_MOUSE.csv")
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_DAMLENQTPELFQDVNKPK_3_{time}_FAS_MOUSE.csv")
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_DcMLGMEFSGR_2_{time}_FAS_MOUSE.csv")
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_DPETLLGYSMVGcQR_2_{time}_FAS_MOUSE.csv")
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_DTSFEQHVLLHTGGK_3_{time}_FAS_MOUSE.csv") 
    #         data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_EGGFLLVHTVLK_2_{time}_FAS_MOUSE.csv") 
            data=pd.read_csv(f"C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/{pep}_{time}_{protien}.csv")

            data["const"]=data.NEH*data.pxt
            data["new_pxt"]=1-ph- (data.const/( (1-ph)*(data["exp_t_A1/A0"]-data["exp_A1/A0"]) ) )
            data["new_neh"]=data.const/data.new_pxt
            data=data.sort_values(by=["RMSE"],ascending=True)
            data=data[data.NEH<=data.NH]

            plt.scatter(data.const,data.RMSE,s=1,c='k')
#             plt.hlines(y=2.5*min(data.RMSE),xmin=min(data.const),xmax=max(data.const),color='r')
            plt.show()
            
            print("pxt*NEH =",float(data[data.RMSE==min(data.RMSE)].const),"real_NEH=",data.T_NEH[0], "ratio =",float(data[data.RMSE==min(data.RMSE)].const/data.T_NEH[0]),"\n")
            print("vals",(data.loc[0,"exp_t_A1/A0"]-data.loc[0,"exp_A1/A0"])*(1-ph))
            
            pxt_neh.append(float(data[data.RMSE==min(data.RMSE)].const))
#             if(not islinear(data[["const","RMSE"]])):
            tempdata=data[data.RMSE<2.5*min(data.RMSE)]
            tempdata=tempdata[(tempdata.new_pxt>0) & (tempdata.new_neh>0) & (tempdata.new_neh<data.NH[0])]
            tempdata["pxt_dif"]=((abs((tempdata.pxt) - (tempdata.new_pxt)))**2 + (abs((tempdata.NEH) - (tempdata.new_neh)))**2)**0.5 #(abs((tempdata.pxt) - (tempdata.new_pxt))) 
            tempdata=tempdata.sort_values(by=["pxt_dif"])
#             print(data.T_NEH[0],np.array(tempdata.sort_values(by=["pxt_dif"]).new_neh.head(5)))
            neh_coll=neh_coll+list(np.array(tempdata.sort_values(by=["pxt_dif"]).new_neh.head(5)))
            
        except:
            print("Error",time)

#     print(neh_coll)
    print("\n",pxt_neh)
    temp_kk.append(pxt_neh)
    temp_neh.append(data.T_NEH[0])
    
#     plt.hist(neh_coll,color='k',bins=50)
#     print("\nTrue NEH =",data.T_NEH[0],"\t estimated NEHs median",np.median(neh_coll))
    eneh=estimateneh(pxt_neh)
    print("\nTrue NEH =",data.T_NEH[0],"\t estimated NEHs median",eneh)
#     vals.append([pep,data.T_NEH[0],np.median(neh_coll)])
    vals.append([pep,data.T_NEH[0],eneh])
    print("===============================================================\n")
    print("===============================================================\n")
    print("===============================================================\n")

In [ ]:
res=pd.DataFrame(vals,columns=["Peptieds","True NEH","Estimated NEH"])
res["diff"]=abs(res["True NEH"]-res["Estimated NEH"])
res=res.dropna()
res.sort_values(by="diff").head(50)

In [ ]:
print( float(res[["diff"]].mean()),float(res[["diff"]].median()),float(res[["diff"]].std()))

In [ ]:
temp_kk

In [ ]:
temp_neh

In [ ]:
# data=pd.read_csv("C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_AAMLGQEDPPQHGLPR_3_24_FAS_MOUSE.csv")
data=pd.read_csv("C:/Workplace/C++/d2ome_v2/v2/v2/bin/Debug/_DPETLLGYSMVGcQR_2_24_FAS_MOUSE.csv")
# data=pd.read_csv("data/_DTSFEQHVLLHTGGK_3_21_FAS_MOUSE.csv")
data.head()

In [ ]:

ph

In [ ]:
# data["const"]=data.NEH*data.pxt
# data["new_pxt"]=1-ph- (data.const/( (1-ph)*(data["exp_t_A1/A0"]-data["theo_A1/A0"]) ) )
# data["new_neh"]=data.const/data.new_pxt
# data=data.sort_values(by="RMSE",ascending=True)
# data=data[(data.new_pxt>0) & (data.new_neh>0) & (data.new_neh<118)]

# # data["temp"]= (data.new_neh*data.new_pxt)/( (1-ph)*(1-ph-data.new_pxt) )
# # data["temp2"]=(data["exp_t_A1/A0"]-data["theo_A1/A0"])

# data["h1"]=data.NEH*data.pxt
# data["h2"]=data.new_neh*data.new_pxt
# data.head(290)

In [ ]:
data["const"]=data.NEH*data.pxt
data["new_pxt"]=1-ph- (data.const/( (1-ph)*(data["exp_t_A1/A0"]-data["theo_A1/A0"]) ) )
data["new_neh"]=data.const/data.new_pxt
data=data.sort_values(by=["RMSE"],ascending=True)

data["test"]= 1-ph-data.pxt == (data.NEH*data.pxt)/( (1-ph)*(data["exp_t_A1/A0"]-data["exp_A1/A0"]) )

data=data[(data.new_pxt>0) & (data.new_neh>0) & (data.new_neh<118)]



# data["h1"]=data.NEH*data.pxt
# data["h2"]=data.new_neh*data.new_pxt
data.head(20)

In [ ]:
# np.dot(data[["NEH","pxt"]][318],data[["new_pxt","new_neh"]][318])/(norm(data[["NEH","pxt"]][318])*norm(data[["new_pxt","new_neh"]][318]))

from sklearn.decomposition import PCA

pca = PCA() # Compute PCA
pca.fit_transform(  data[["const","RMSE"]])
eigenvalues = pca.explained_variance_ # Get eigenvalues
eigenvalues = np.round(eigenvalues, 8) # Round off eigenvalues
eigenvalues

In [ ]:
from matplotlib import pyplot as plt
# plt.figure(figsize=(15,6))
plt.scatter(data.const,data.RMSE,s=1)
print(data[data.new_pxt<0].shape)

In [ ]:
tempdata=data[data.RMSE<2*min(data.RMSE)]
tempdata=tempdata[(tempdata.new_pxt>0) & (tempdata.new_neh>0) & (tempdata.new_neh<data.NH[0])]
tempdata["pxt_dif"]=(abs((tempdata.pxt) - (tempdata.new_pxt))) #(abs((tempdata.pxt) - (tempdata.new_pxt)))**2 + (abs((tempdata.NEH) - (tempdata.new_neh)))**2 
tempdata.sort_values(by=["pxt_dif"]).head(25)

In [ ]:
plt.figure(figsize=(15,6))
plt.scatter(tempdata.const,tempdata.RMSE,s=1)

In [ ]:
np.array(tempdata.sort_values(by=["pxt_dif"]).new_neh.head(5))

In [ ]:
np.median(tempdata.sort_values(by=["pxt_dif"]).new_neh.head(5))

In [ ]:
# plt.scatter(range(0,6),[3.94E+06,6.30E+06,8.23E+06,6.51E+06,3.99E+06,3.33E+06])

In [ ]:
# plt.scatter(range(0,6),[4.77E+07,9.92E+07,1.11E+08,9.49E+07,5.45E+07,2.81E+07])

In [ ]:
np.array([0.2475, 0.47250000000000003, 0.345, 1.3425, 0.9825, 1.2075, 1.0725, 1.1925000000000001, 1.1775, 1.1175, 1.335])/75

In [ ]:
np.array([[0.16119999999999998, 0.3952, 0.41340000000000005, 0.9229999999999999, 0.9776, 0.9672, 1.0842, 1.183, 1.0608, 1.1258, 1.0972]])/26